/* Banner e versículo */
.inicio {
    background: url(../IMG/banner.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin: 2rem;
    margin-top: 8.9rem;
    margin-bottom: 0;
    padding-bottom: 5rem;
    border-radius: 10px;
}
.inicio .content {
    text-align: right;
}
.inicio .content h1 {
    font-size: 2rem;
    color: #282828;
    padding-right: 1rem;
}
hr {
    border: none;
    height: .3rem;
    width: 10.8rem;
    background-color: #820101;
    margin-left: 18rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
}
.inicio .content p {
    font-size: 1.4rem;
    color: #282828;
    padding-right: 1rem;
}

@media (min-width: 768px) {
    
    .inicio {
        max-width: calc(100% - 14%);
        min-height: calc(100dvh - 30rem);
        margin: 10.7rem auto 0;
        padding: 4rem;
        border-radius: 10px;
    }

    .inicio .content {
        text-align: right;
    }

    .inicio .content h1 {
        font-size: 6rem;
    }

    .inicio .content p {
        font-size: 4rem;
    }

    .inicio hr {
        margin: 1rem 0 .5rem auto;
    }
}

/* Teste design responsivo mobile (360 x 640px)
    Correção de desing mobile! */

@media(width: 360px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .inicio{
        background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../IMG/banner.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        margin: 1rem;
        margin-top: 6rem;
        padding: 3rem 1.5rem;
        border-radius: 10px;
        min-height: 300px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .inicio .content{
        text-align: right;
        width: 100%;
    }

    .inicio .content h1{
        font-size: 1.6rem;
        color: #ffffff;
        line-height: 1.2;
    }


    hr{
        border: none;
        height: 0.25rem;
        width: 7rem;
        background-color: #820101;
        margin: 1rem 0 1rem auto;
    }

    .inicio .content p{
        font-size: 1.1rem;
        color: #ffffff;
        font-weight: bold;
    }

    .oferta .missoes .informacoes{
        padding: 2rem 1.2rem;
    }

    .container .content p{
        text-align: justify;
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 1.5rem;
    }
}


