h3 {
    font-size: 2rem;
    font-weight: 500;
    color: #282828;
    text-align: left;
}

span {
    font-size: 1.8rem;
    font-weight: 500;
}

.termos-accordion {
    margin-top: 1.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.termos-toggle {
    width: 100%;
    background: none;
    border: none;
    padding: 1.2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
    color: #000;
}
.termos-toggle i {
    transition: transform 0.3s ease;
}
.termos-toggle p strong {
    font-size: 1.6rem;
    text-align: justify;
}

/* Conteúdo escondido */
.termos-conteudo {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
}
.termos-conteudo p {
    font-size: 1.8rem;
    text-align: justify;
    padding-bottom: 1.5rem;
}

/* Estado aberto */
.termos-accordion.ativo .termos-conteudo {
    max-height: 1000px; 
}
.termos-accordion.ativo .termos-toggle i {
    transform: rotate(180deg);
}

.termos {
    margin-top: 3rem;
    padding-top: 2rem;
    border-top: 1px solid rgba(0,0,0,0.2);
}
.checkbox-termos {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    font-size: 1.6rem;
    color: #000;
    cursor: pointer;
}
.checkbox-termos input {
    margin-top: 0.4rem;
    transform: scale(1.3);
    cursor: pointer;
}
.termos .checkbox-termos label {
    font-size: 1.6rem;
    font-weight: 380;
    text-align: justify;
    padding-bottom: 2rem;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

@media (min-width: 768px) {

    .container .box .content p {
        font-size: 2rem;
        text-align: left;
        line-height: 1.8;
    }
    h3 {
        font-size: 2.8rem;
        text-align: left;
        padding-top: 1rem;
    }
    .termos .checkbox-termos input {
        margin-top: .9rem;
    }
    .termos .checkbox-termos label {
        font-size: 1.9rem;
        line-height: 1.8;
    }
    .termos-toggle p strong {
        font-size: 2rem;
    }
    span {
        font-size: 2.6rem;
    }
}
