.sobre {
    padding-top: 9rem;
    padding-bottom: 0;
}

h2 {
    text-align: justify;
    font-size: 16px;
    color: #181818;
    margin-bottom: 12px;
}

.container .box .content img {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    border-radius: 5px;
}

.container .box .content iframe {
    width: 100%;
    height: 300px;
    border: 0; 
    border-radius: 15px;
    margin-top: 15px;
    filter: invert(1) hue-rotate(180deg) saturate(1.4);
}