@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: none;
    transition: .2s linear;
}

html {
    font-size: 60%;
    overflow: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    width: .8rem;
}
html::-webkit-scrollbar-track {
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: #fff;
}
section {
    padding: 2rem;
}

.header {
    background: #f2f5f7;
    display: flex;
    align-items: center;
    padding: 0 3rem;
    border-bottom: .1rem solid rgba(117, 117, 117, 0.3);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    line-height: 4.5rem;
}
.header .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}
.header .navbar .logo {
    margin: 0;
    font-size: 2.6rem;
    color: #f2f5f7;
    padding-bottom: .5rem;
}
.header .navbar .logo img {
    padding-top: 18px;
}
.header .navbar ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background-color: #f2f5f7;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
}
.header .navbar ul.open {
    left: 0;
    margin-top: .5rem;
}
.header .navbar ul li {
    width: 100%;
    margin: 50px 0;
}
.header .navbar ul li a {
    font-size: 23px;
    letter-spacing: .1rem;
    color: #282828;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.header .navbar ul li a.active {
    background: none;
    color: #820101;
}
.header .navbar .menu-btn i {
    display: block;
    color: #282828;
    cursor: pointer;
    font-size: 20px;
}

.inicio {
    background: url(../IMG/banner.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 8.9rem;
    padding-bottom: 5rem;
}
.inicio .content {
    text-align: right;
}
.inicio .content h1 {
    font-size: 2rem;
    color: #282828;
    padding-right: 1rem;
}
hr {
    border: none;
    height: .3rem;
    width: 15rem;
    background-color: #820101;
    margin-left: 18rem;
    margin-top: 1rem;
    margin-bottom: .5rem;
}
.inicio .content p {
    font-size: 1.4rem;
    color: #282828;
    padding-right: 1rem;
}

/* CSS para seção SOBRE*/

.sobre .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    background-color: #f2f5f781;
    border-radius: 15px;
}
.sobre .container .box {
    display: flex;
    align-items: center;
    gap: 50px;
}
.sobre .container .box .content p {
    font-size: 14px;
    text-align: justify;
}
.sobre .container .btn {
    display: inline-block;
    font-size: 1.2rem;
    height: 25px;
    line-height: 25px;
    padding: 0 7px;
    text-transform: uppercase;
    font-weight: bold;
    color: #820101;
    letter-spacing: .1rem;
    border: .2rem solid #820101;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}

/* CSS inscrição ADULTOS*/
.insc-adultos .container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    background-color: #f2f5f781;
    border-radius: 15px;
}

.insc-adultos .container .box{
    display: flex;
    align-items: center;
    gap: 50px;
}

.insc-adultos .container .box .content p{
    font-size: 14px;
    text-align: justify;
}

.insc-adultos .container .btn{
    display: inline-block;
    font-size: 1.2rem;
    height: 25px;
    line-height: 25px;
    padding: 0 7px;
    text-transform: uppercase;
    font-weight: bold;
    color: #820101;
    letter-spacing: .1rem;
    border: .2rem solid #820101;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}
/*=================================*/

/* CSS inscrição desbravadores*/
.insc-desbravadores .container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    background-color: #f2f5f781;
    border-radius: 15px;
}

.insc-desbravadores .container .box{
    display: flex;
    align-items: center;
    gap: 50px;
}

.insc-desbravadores .container .box .content p{
    font-size: 14px;
    text-align: justify;
}

.insc-desbravadores .container .btn{
    display: inline-block;
    font-size: 1.2rem;
    height: 25px;
    line-height: 25px;
    padding: 0 7px;
    text-transform: uppercase;
    font-weight: bold;
    color: #820101;
    letter-spacing: .1rem;
    border: .2rem solid #820101;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}

/*=================================*/


/* CSS contribuições*/

.contribuicao .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    background-color: #f2f5f781;
    border-radius: 15px;
}

.contribuicao .container .box {
    display: flex;
    align-items: center;
    gap: 50px;
}

.contribuicao .container .box .content p {
    font-size: 14px;
    text-align: justify;
}

.contribuicao .container .btn {
    display: inline-block;
    font-size: 1.2rem;
    height: 25px;
    line-height: 25px;
    padding: 0 7px;
    text-transform: uppercase;
    font-weight: bold;
    color: #820101;
    letter-spacing: .1rem;
    border: .2rem solid #820101;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}

/*=================================*/


.footer {
    background: #282828;
    padding: 2rem;
}
.footer .icon {
    text-align: right;
    margin: 0;
    padding: 0;
}
.footer .icon a {
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    color: #f2f5f7;
    margin-right: .9rem;
}
.footer .text {
    font-size: 1.5rem;
    text-align: left;
    letter-spacing: .1rem;
    padding-bottom: 2rem;
}
.footer .text p {
    text-transform: none;
    color: #f2f5f7;
    margin-left: .9rem;
}
.footer .copyright {
    font-size: 1.2rem;
    color: #f2f5f7;
    font-weight: lighter;
    letter-spacing: .2rem;
    text-align: center;
    text-transform: none;
}