@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: none;
    transition: .2s linear;
}

html {
    font-size: 60%;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    width: .8rem;
}
html::-webkit-scrollbar-track {
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: #fff;
}
body.no-scroll {
    overflow: hidden;
}
section {
    padding: 2rem;
}

/* Cabeçalho */
.header {
    background: #f2f5f7;
    display: flex;
    align-items: center;
    padding: 0 3rem;
    border-bottom: .1rem solid rgba(117, 117, 117, 0.3);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    line-height: 4.5rem;
}
.header .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}
.header .navbar .logo {
    margin: 0;
    font-size: 2.6rem;
    color: #f2f5f7;
    padding-bottom: .5rem;
}
.header .navbar .logo img {
    padding-top: 18px;
}
.header .navbar ul {
    position: fixed;
    top: 8.9rem;
    left: -100%;
    background-color: #f2f5f7;
    height: calc(100dvh - 4.5rem);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5vh 0;
    transition: all 0.3s ease;
}
.header .navbar ul.open {
    left: 0;
}
.header .navbar ul li {
    width: 100%;
}
.header .navbar ul li:last-child {
    margin-bottom: 4rem;
}
.header .navbar ul li a {
    font-size: clamp(20px, 3.5vw, 28px);
    letter-spacing: .1rem;
    color: #282828;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.header .navbar ul li a.active {
    background: none;
    color: #820101;
}
.header .navbar .menu-btn i {
    display: block;
    color: #282828;
    cursor: pointer;
    font-size: 20px;
}

/* Banner e slogan */
.inicio {
    background: url(../IMG/banner.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    margin-top: 8.9rem;
    padding: 5rem 1rem;
}
.inicio .content {
    width: 100%;
    max-width: 93%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    gap: 0.5rem;
}
.inicio .content h1 {
    font-size: 2rem;
    color: #282828;
}
hr {
    border: none;
    height: .3rem;
    width: 15rem;
    background-color: #820101;
    margin: 1rem 0 .5rem auto;
    align-self: flex-end;
}
.inicio .content p {
    font-size: 1.4rem;
    color: #282828;
}

/* Classes gerais */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    background-color: #f2f5f781;
    border-radius: 15px;
}
.container .box {
    display: flex;
    align-items: center;
    gap: 50px;
}
.container .box .content {
    text-align: right;
}
.container .box .content p {
    font-size: 14px;
    text-align: justify;
}
.container .btn {
    display: inline-block;
    font-size: 1.2rem;
    height: 25px;
    line-height: 25px;
    padding: 0 7px;
    text-transform: uppercase;
    font-weight: bold;
    color: #820101;
    letter-spacing: .1rem;
    border: .2rem solid #820101;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}

.introducao {
    padding-top: 9rem;
    padding-bottom: 0;
}

/* Rodapé */
.footer {
    background: #282828;
    padding: 2rem;
}
.footer .icon {
    text-align: right;
    margin: 0;
    padding: 0;
}
.footer .icon a {
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    color: #f2f5f7;
    margin-right: .9rem;
}
.footer .text {
    font-size: 1.5rem;
    text-align: left;
    letter-spacing: .1rem;
    padding-bottom: 2rem;
}
.footer .text p {
    text-transform: none;
    color: #f2f5f7;
    margin-left: .9rem;
}
.footer .copyright {
    font-size: 1.2rem;
    color: #f2f5f7;
    font-weight: lighter;
    letter-spacing: .2rem;
    text-align: center;
    text-transform: none;
}

@media (min-width: 361px) {
    .inicio {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 3rem 5%;        
        min-height: 30vh;          
        max-height: 45vh;
    }
    .inicio .content {
        max-width: 90%;
        padding-right: 2rem;
    }
    .inicio .content h1 {
        font-size: clamp(2rem, 4vw, 3rem);
        line-height: 1.2;
    }
    .inicio .content p {
        font-size: clamp(1.6rem, 3vw, 2rem);
        line-height: 1.3;
    }
    .inicio hr {
        width: clamp(15rem, 35vw, 18rem);
        height: 0.3rem;
    }
}
@media (min-width: 420px) {
    .inicio {
        min-height: 32vh;          
        max-height: 50vh;
    }
    .inicio .content h1 {
        font-size: clamp(2.4rem, 4vw, 3rem);
        line-height: 1.3;
    }
    .inicio .content p {
        font-size: clamp(1.8rem, 3vw, 2rem);
        line-height: 1.4;
    }
    .inicio hr {
        width: clamp(18rem, 37vw, 20rem);
        height: 0.3rem;
    }
}
@media (min-width: 500px) {
    .inicio {       
        min-height: 35vh;          
        max-height: 60vh;         
    }
    .inicio .content {
        max-width: 90%;
        padding-right: 2rem;
    }
    .inicio .content h1 {
        font-size: clamp(2.9rem, 4vw, 3rem);
        line-height: 1.4;
    }
    .inicio .content p {
        font-size: clamp(2rem, 3vw, 2rem);
        line-height: 1.5;
    }
    .inicio hr {
        width: clamp(8rem, 40vw, 30rem);
    }
}
@media (min-width: 600px) {
    .inicio {       
        min-height: 40vh;          
        max-height: 80vh;         
    }
    .inicio .content {
        max-width: 90%;
        padding-right: 2rem;
    }
    .inicio .content h1 {
        font-size: clamp(3.5rem, 4vw, 3rem);
        line-height: 1.5;
    }
    .inicio .content p {
        font-size: clamp(2.5rem, 3vw, 2rem);
        line-height: 1.6;
    }
    .inicio hr {
        width: clamp(8rem, 40vw, 30rem);
        height: 0.4rem;
    }
}
@media (min-width: 700px) {
    .inicio {       
        min-height: 50vh;          
        max-height: 90vh;         
    }
    .inicio .content h1 {
        font-size: clamp(4rem, 4vw, 3rem);
        line-height: 1.6;
    }
    .inicio .content p {
        font-size: clamp(2.8rem, 3vw, 2rem);
        line-height: 1.7;
    }
    .inicio hr {
        width: clamp(8rem, 40vw, 40rem);
        height: 0.5rem;
    }
    .footer {
        padding: 1rem clamp(2rem, 6vw, 7%);
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;
        column-gap: 2rem;
        align-items: start; /* topo */
    }
    .footer .text {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        text-align: left;
    }
    .footer .text br {
        display: none;
    }
    .footer .text p {
        margin: 0;
        font-size: 1.8rem;
        line-height: 1.6;
        padding-top: 1.2rem;
        padding-left: 1rem;
    }
    .footer .icon {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }
    .footer .icon a {
        height: 5rem;
        width: 5rem;
        line-height: 5rem;
        font-size: 2rem;
        color: #f2f5f7;
        border: .1rem solid rgba(117, 117, 117, 0.3);
        border-radius: 50%;
        text-align: center;
    }
    .footer .copyright {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        margin-top: 1.5rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: lighter;
        letter-spacing: .2rem;
        white-space: nowrap;
        padding-bottom: 1rem;
    }
}

@media (min-width: 900px) {
    section {
        padding: 2rem 7%;
    }
    .header {
        padding: 0.5rem clamp(2rem, 6vw, 7%);
        line-height: 2rem;
    }
    .header .navbar {
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: .4rem; 
        justify-content: flex-start;
    }
    .header .navbar .logo {
        padding: 0;
        margin: 0;
    }
    .header .navbar .menu-btn {
        display: none;
    }
    .header .navbar ul {
        position: static;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .2rem;
        height: auto;
        width: auto;
        background: transparent;
        list-style: none;
        left: 0;
        top: 0;
        transition: none;
        margin-left: auto;
        white-space: normal;
        flex-shrink: 0;
    }
    .header .navbar ul li {
        margin: 0;
        width: auto;
    }
    .header .navbar ul li:last-child {
        margin-bottom: 0; 
    }
    .header .navbar ul li a {
        font-size: 1.5rem;
        letter-spacing: .1rem;
        color: #282828;
        padding: 6px 10px;
        border-radius: 5px;
        transition: 0.3s ease;
    }
    .header .navbar ul li a:hover,
    .header .navbar ul li a.active {
        background: #820101;
        color: #fff;
    }
    .inicio {
        margin-top: 10.7rem;
        min-height: clamp(55vh, 65vh, 75vh);
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
    }
    .inicio .content {
        width: 100%;
        max-width: 1200px;
        padding-inline: clamp(2rem, 12vw, 7%);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: .5rem;
        text-align: right;
    }
    .inicio .content h1 {
        font-size: clamp(4rem, 4vw, 4.8rem);
        line-height: 1.20;
    }
    .inicio .content p {
        font-size: clamp(2rem, 2.6vw, 3rem);
        line-height: 1.30;
    }
    .inicio hr {
        width: clamp(18rem, 35vw, 40rem);
        height: .7rem;
        align-self: flex-end;
        margin: 0 0 1rem auto;
    }
    h1 {
        font-size: 3.6rem;
        padding-bottom: 2rem;
    }
    .container {
        padding: 4rem 10%;       
    }
    .container .box .content {
        padding: 0;
    }
    .container .box .content p {
        font-size: 1.8rem;
        text-align: justify;
        line-height: 1.8;
    }
    .container .btn {
        font-size: 1.8rem;
        height: 35px;
        line-height: 35px;
        letter-spacing: .1rem;
        border: .2rem solid #820101;
        border-radius: 10px;
        transition: 0.3s ease;
    }
    .container .btn:hover {
        background: #820101;
        color: #fff;
    }
    .introducao {
        margin-top: 1.8rem;
    }
    .footer {
        padding: 1rem clamp(2rem, 6vw, 7%);
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;
        column-gap: 2rem;
        align-items: start; /* topo */
    }
    .footer .text {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        text-align: left;
    }
    .footer .text br {
        display: none;
    }
    .footer .text p {
        margin: 0;
        font-size: 1.8rem;
        line-height: 1.6;
        padding-top: 1.2rem;
        padding-left: 1rem;
    }
    .footer .icon {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }
    .footer .icon a {
        height: 5rem;
        width: 5rem;
        line-height: 5rem;
        font-size: 2rem;
        color: #f2f5f7;
        border: .1rem solid rgba(117, 117, 117, 0.3);
        border-radius: 50%;
        text-align: center;
    }
    .footer .icon a:hover {
        background-color: #820101;
    }
    .footer .copyright {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        margin-top: 1.5rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: lighter;
        letter-spacing: .2rem;
        white-space: nowrap;
        padding-bottom: 1rem;
    }
}
@media (min-width: 1100px) {
    .header .navbar {
        gap: .4rem;
    }
    .header .navbar ul {
        gap: 1rem;
    }
    .header .navbar ul li a {
        font-size: 1.8rem;
        letter-spacing: .1rem;
        color: #282828;
        padding: 8px 15px;
    }
    .inicio {
        min-height: 78vh;
    }
    .inicio .content {
        padding-inline: clamp(7rem, 12vw, 7%);
    }
}
@media (min-width: 1400px) {
    .inicio {
        min-height: 87vh;
    }
    .inicio .content {
        padding-inline: clamp(4rem, 1vw, 7%);
    }
    .inicio .content h1 {
        font-size: clamp(6rem, 4vw, 4.8rem);
        line-height: 1.20;
    }
    .inicio .content p {
        font-size: clamp(4rem, 2.6vw, 3rem);
        line-height: 1.30;
    }
    .inicio hr {
        width: clamp(1rem, 35vw, 50rem);
        height: .7rem;
        margin: 0;
        align-self: flex-end;
    }
}
