@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 60%;
    overflow: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    width: .8rem;
}
html::-webkit-scrollbar-track {
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: #fff;
}
section {
    padding: 2rem;
}

.header {
    background: #f2f5f7;
    display: flex;
    align-items: center;
    padding: 0 3rem;
    border-bottom: .1rem solid rgba(117, 117, 117, 0.3);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    line-height: 4.5rem;
}
.header .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}
.header .navbar .logo {
    margin: 0;
    font-size: 2.6rem;
    color: #f2f5f7;
    padding-bottom: .5rem;
}
.header .navbar .logo img {
    padding-top: 18px;
}
.header .navbar ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background-color: #f2f5f7;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
}
.header .navbar ul.open {
    left: 0;
    margin-top: .5rem;
}
.header .navbar ul li {
    width: 100%;
    margin: 50px 0;
}
.header .navbar ul li a {
    font-size: 23px;
    letter-spacing: .1rem;
    color: #282828;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.header .navbar ul li a.active {
    background: none;
    color: #820101;
}
.header .navbar .menu-btn i {
    display: block;
    color: #282828;
    cursor: pointer;
    font-size: 20px;
}

.footer {
    background: #282828;
    padding: 2rem;
}
.footer .icon {
    text-align: right;
    margin: 0;
    padding: 0;
}
.footer .icon a {
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    color: #f2f5f7;
    margin-right: .9rem;
}
.footer .text {
    font-size: 1.5rem;
    text-align: left;
    letter-spacing: .1rem;
    padding-bottom: 2rem;
}
.footer .text p {
    text-transform: none;
    color: #f2f5f7;
    margin-left: .9rem;
}
.footer .copyright {
    font-size: 1.2rem;
    color: #f2f5f7;
    font-weight: lighter;
    letter-spacing: .2rem;
    text-align: center;
    text-transform: none;
}