@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    width: .8rem;
}
html::-webkit-scrollbar-track {
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: #eee;
}
section {
    padding: 2rem 7%;
}

.header {
    background: #f2f5f7;
    display: flex;
    align-items: center;
    padding: 1rem 7%;
    border-bottom: .1rem solid rgba(255,255,255,.3);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    line-height: 4.5rem;
}
.header .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}
.header .navbar .logo {
    margin: 0;
    font-size: 2.6rem;
    color: #f2f5f7;
    padding-bottom: .5rem;
}
.header .navbar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.header .navbar ul li {
    margin: 0 5px;
}
.header .navbar ul li a {
    font-size: 1.5rem;
    font-weight: lighter;
    letter-spacing: .1rem;
    color: #ccc;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.header .navbar .menu-btn i {
    display: none;
    color: #eee;
    cursor: pointer;
}